doctype html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"
html( xmlns="http://www.w3.org/1999/xhtml" )
 head
  meta(content='text/html' charset='UTF-8')
  meta(name="viewport" content="width=device-width, initial-scale=1")
  include ./styles

 body.text-center(style="width:560px")
  h1(style='font-size:7em;') 🎄🎄🎄
  div.text-center(style="width:550px;background-color:white;color:black;")
   block message
     p= msg
     a(href= link)= button_text








